technoloogPodcast/Technoloog_Samenvatting.json
{
  "name": "Technoloog Samenvatting",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        -20
      ],
      "id": "32781fa6-6168-4284-b88d-4f53c777119d",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kome.ai/api/tools/youtube-transcripts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_id\": \"{{ $('Airtable').item.json['Video url'] }}\",\n  \"format\": true\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        0
      ],
      "id": "44f4ddef-2a7e-45f8-847d-d76589229b84",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appak5y1ovCARg3aO",
          "mode": "list",
          "cachedResultName": "Base nr 2",
          "cachedResultUrl": "https://airtable.com/appak5y1ovCARg3aO"
        },
        "table": {
          "__rl": true,
          "value": "tblOPKaOzpz5VoiRT",
          "mode": "list",
          "cachedResultName": "Playlist data",
          "cachedResultUrl": "https://airtable.com/appak5y1ovCARg3aO/tblOPKaOzpz5VoiRT"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -340,
        -20
      ],
      "id": "0d97d410-cd90-4edc-9d23-cf09267b82be",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "56ZKeQRqyM5l12dU",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "Uploaded Time",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -120,
        -20
      ],
      "id": "716150c5-ec89-4f6e-9190-b8b22d8f5d69",
      "name": "Sort"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.transcript }}",
        "messages": {
          "messageValues": [
            {
              "message": "=ou are a helpful, intelligent summarizer assistant. Your task is to give a detailed summary of the text. Identify any key subjects or themes and the main topic. Always give a detailed description of use cases in combination with the used programs. Also describe in detail any new tools or AI workflows that are mentioned. Also mention any AI news. Use clear headers that only go one level deep and give the endresult in markdown format. Use only one type of header. Do not include any extra words or phrases like \"summary of article\" or \"the article discusses\"."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        980,
        0
      ],
      "id": "7ae91a69-67a9-4849-8ae1-593bf8ed9b47",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1020,
        380
      ],
      "id": "bd0bd4bc-d6bb-4c03-9de8-9b56214dbcd2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "n6JzhPmersh3bPv1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "AI-Vault",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "WebsiteTest",
          "mode": "list",
          "cachedResultName": "WebsiteTest",
          "cachedResultUrl": "https://github.com/AI-Vault/WebsiteTest"
        },
        "filePath": "={{\"technoloogPodcast/index\" + $('Loop Over Items').item.json.rowNumber + \".md\" }}",
        "fileContent": "={{\"# \"+$('Loop Over Items').item.json.rowNumber+  \". \"+$('Sort').item.json.Title + \"\\nViews: \"+ $('Sort').item.json.Views +\" (\"+  new Date($('Sort').item.json['Uploaded Time'] ).toISOString().slice(0, 10) +\") \"+ \"[link](\"+$('Loop Over Items').item.json['Video url']+ \")\" +\"\\n\\n\\n \" +$json.markdown }}",
        "commitMessage": "great"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1440,
        0
      ],
      "id": "c0fd0bcf-bd9e-4f9c-b69d-2159569dc0cc",
      "name": "GitHub",
      "webhookId": "5d378aa9-bf31-46e4-bfe9-99518a13fc45",
      "credentials": {
        "githubOAuth2Api": {
          "id": "7D7bGEX1pccJca55",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map((item, index) => {\n  item.json.rowNumber = index ; // Regelnummer begint bij 0\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        -20
      ],
      "id": "a4d6ff40-f4aa-45b3-909f-89ff8d847a3c",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const markdown = item.json.text || \"\";\n\n  // Split op regels\n  const lines = markdown.split('\\n');\n\n  // Zoek eerste niet-lege regel\n  const firstLineIndex = lines.findIndex(line => line.trim() !== \"\");\n\n  // Verwijder deze regel als het een titel is (begint met '# ')\n  if (firstLineIndex >= 0 && lines[firstLineIndex].startsWith('# ')) {\n    lines.splice(firstLineIndex, 1);\n  }\n\n  // Combineer weer tot één markdowntekst\n  item.json.markdown = lines.join('\\n').trim();\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        0
      ],
      "id": "cabf3232-b339-453d-a0e1-d98533c1f9fb",
      "name": "Code1"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        580,
        -20
      ],
      "id": "dfc0cefc-7b68-4ec7-a3f9-f08d2e53b37a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c5e39d83-644f-4214-89bd-69f1c8551b3e",
              "leftValue": "={{ $json.rowNumber }}",
              "rightValue": 36,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "32749cd5-1307-48cf-9bf7-34116d688152",
              "leftValue": "={{ $json.rowNumber }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        240,
        -20
      ],
      "id": "3e1ed1e5-7f06-4916-8c8e-de85d50047ae",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7e41f277-606e-466d-bf14-d19490008a90",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70aa71cb58b140750ce119931eaca46584a39dec9a19894ae07e63ca0249f0b8"
  },
  "id": "v0XuaEJey0PlzicU",
  "tags": []
}
